Controller Node/Node-Red/AutoGH noderedflow.json
[{"id":"a5a712a9.66809","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11c3be20.0b6292","type":"mqtt in","z":"a5a712a9.66809","name":"","topic":"AutoGH/data","qos":"2","datatype":"auto","broker":"ce026f32.69a2","x":210,"y":140,"wires":[["c6449de6.1d9a4","98f5b423.b86b58"]]},{"id":"baed5221.ce262","type":"function","z":"a5a712a9.66809","name":"","func":"var msg1 = {\"payload\":msg.payload[\"ID\"]};\n\n//Env Sensors\nvar msg2 = {\"payload\":msg.payload.temp, \"measurement\" : \"Temperature\"};\nvar msg3 = {\"payload\":msg.payload.humid, \"measurement\" : \"Humidity\"};\nvar msg4 = {\"payload\":msg.payload.light, \"measurement\" : \"Lux\"};\n\n//Soil Sensors\nvar msg5 = {\"payload\":msg.payload.soil[0].soilMoisture, \"measurement\" : \"SoilHumidity0\"};\nvar msg6 = {\"payload\":msg.payload.soil[1].soilMoisture, \"measurement\" : \"SoilHumidity1\"};\nvar msg7 = {\"payload\":msg.payload.soil[2].soilMoisture, \"measurement\" : \"SoilHumidity2\"};\n\n//Outputs\nvar msg8 = {\"payload\":msg.payload.pump, \"measurement\" : \"PumpState\"};\nvar msg9 = {\"payload\":msg.payload.fan, \"measurement\" : \"FanState\"};\n\nreturn [msg1,msg2,msg3,msg4,msg5,msg6,msg7,msg8,msg9];","outputs":9,"noerr":0,"initialize":"","finalize":"","x":780,"y":80,"wires":[[],["ecc1a88f.f16068"],["ecc1a88f.f16068"],["ecc1a88f.f16068"],["ecc1a88f.f16068"],["ecc1a88f.f16068"],["ecc1a88f.f16068"],["ecc1a88f.f16068"],["ecc1a88f.f16068"]]},{"id":"ecc1a88f.f16068","type":"influxdb out","z":"a5a712a9.66809","influxdb":"6dcfbc6f.19ec44","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1032,"y":129,"wires":[]},{"id":"251d9ce7.3d7d24","type":"debug","z":"a5a712a9.66809","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"ac40dccb.8cd7a","type":"switch","z":"a5a712a9.66809","name":"","property":"payload[\"ID\"]","propertyType":"msg","rules":[{"t":"eq","v":"AutoGH_1","vt":"str"},{"t":"nempty"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":140,"wires":[["a81e7cf8.5ed67","baed5221.ce262"],["251d9ce7.3d7d24"]]},{"id":"c6449de6.1d9a4","type":"json","z":"a5a712a9.66809","name":"","property":"payload","action":"","pretty":false,"x":470,"y":140,"wires":[["ac40dccb.8cd7a"]]},{"id":"a1cff4d3.43d808","type":"mqtt in","z":"a5a712a9.66809","name":"","topic":"#","qos":"2","datatype":"auto","broker":"ce026f32.69a2","x":209,"y":297,"wires":[[]]},{"id":"a81e7cf8.5ed67","type":"debug","z":"a5a712a9.66809","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":220,"wires":[]},{"id":"98f5b423.b86b58","type":"debug","z":"a5a712a9.66809","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":220,"wires":[]},{"id":"d81b681.6a99598","type":"mqtt out","z":"a5a712a9.66809","name":"","topic":"AutoGH/control","qos":"","retain":"","broker":"ce026f32.69a2","x":420,"y":500,"wires":[]},{"id":"a7c4e0f6.f8e59","type":"inject","z":"a5a712a9.66809","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"minSoilHumid\":100,\"maxAirHumid\":20}","payloadType":"json","x":230,"y":500,"wires":[["d81b681.6a99598"]]},{"id":"f07c19ec.5af8c8","type":"inject","z":"a5a712a9.66809","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"minSoilHumid\":500,\"maxAirHumid\":70}","payloadType":"json","x":230,"y":540,"wires":[["d81b681.6a99598"]]},{"id":"ce026f32.69a2","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6dcfbc6f.19ec44","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iotdash","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]